{{ block title }}

{% if lang == "ar" %}
<html lang="ar" dir="rtl">
{% endif %}

{{ endblock }}


{{ block content }}


    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">


{{ endblock }}

{{ block scripts }}

    <script type="text/javascript">

    // This function will run after a 5000 millisecond (5 second) delay
    setTimeout(function() {

        // The redirect code is now placed inside the function
        window.location.replace("{{ redirect_link|safe }}");

    }, 0); // The delay in milliseconds

    </script>

{{ endblock }}