{{ block title }}

{% if lang == "ar" %}
<html lang="ar" dir="rtl">
{% endif %}

    <p style="text-align: center; font-size: 26px; "> {{ thank_you_short|safe }} </p>

<div style="display: flex; justify-content: center">
    <label>
        <progress value="{{ participant.progress }}" max="{{ total_pages }}">
        </progress>
    </label>
</div>

{{ endblock }}

{{ block content }}


    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">


<div class="card-body">

    <div style="text-align: center;">

    <p>
        {{ study_complete|safe }}
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body" >

            <b>{{ thank_you|safe }}</b> <br> <br>

            {{ if prolific == True }}
                {{ end_bonus|safe }}
            {{ endif }}

            {{ if prolific == False }}
                {{ bonus_payment|safe }}
            {{ endif }}

<!--            <p> </p>-->
<!--            <hr size="6" width="50%" align="center" color="black">-->

        </div>
        <p></p>

        {{ if prolific == False }}
            <p>
                {{ debrief|safe }}
            </p>

<!--            <p>-->
<!--                {{ close_window|safe }}-->
<!--            </p>-->

        <div style="display: flex; justify-content: flex-end">
                <button class="btn btn-primary">{{button_next | safe}}</button>
            </div>

         {{ endif }}

         {{ if prolific == True }}
            <p>
                {{ redirect_prolific|safe }}
            </p>

            <div style="display: flex; justify-content: flex-end">
                <button class="btn btn-primary">{{button_next | safe}}</button>
            </div>
         {{ endif }}
    </div>

    </div>
</div>

    <!---div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><b>Toluna</b></p>
            <p>
                <em>How does it work for participant? is there a platform they are registered to? or they just get an email?<br>
                we should ask Toluna what to put at the end</em>
            </p>
        </div>
    </---div>



{{ endblock }}

