{{ block title }}

{% if lang == "ar" %}
<html lang="ar" dir="rtl">
{% endif %}

    <p style="text-align: center; font-size: 26px; "> {{ thank_you_short|safe }} </p>

{{ endblock }}


{{ block content }}


    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">


<div style="font-size: 14px">
    <p> {{ redirect_prolific_info|safe }}</p>

    <p>{{ redirect_prolific_wait|safe }}
        <b><a href="https://app.prolific.com/submissions/complete?cc=C1B0FPN9"> https://app.prolific.com/submissions/complete?cc=C1B0FPN9 </a></b>
    </p>
    <p>
        {{ redirect_prolific_code|safe }} <b>C1B0FPN9</b>
    </p>

    <div style="display: flex; justify-content: flex-end">
        <button class="btn btn-primary">{{button_next | safe}}</button>
    </div>

</div>

{{ endblock }}

{{ block scripts }}

    <script type="text/javascript">

    window.location.replace("https://app.prolific.com/submissions/complete?cc=C1B0FPN9")

    </script>

{{ endblock }}