{{ block title }}

<div class="block-header">
    {{ button_block|safe }} 1
</div>

<p style="text-align: center; font-size: 26px; margin-bottom: 4px; "> {{ comprehension_title|safe }} </p>

<div style="display: flex; justify-content: center; margin-bottom: 4px;">
    <label>
        <progress value="{{ participant.progress }}" max="{{ total_pages }}">
        </progress>
    </label>
</div>

{{ endblock }}
{{ block content }}

<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">


<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>


<script>

    /////////// global variables

    var current_treatment = "{{ treatment }}";


    //// error message handling for no-response versus incorrect-response

    var correct_answers = {{correct_answers}}

    /// Function for showing customized error messages
    let errorDiv = document.querySelector('.otree-form-errors');

    var error_incorrect = "{{ error_incorrect }}";

    if (errorDiv) {
            errorDiv.textContent = error_incorrect
        }

    failedAttempts = 0;



////////////// function for displaying the task, numbers, and labels and managing the click event

    $(document).ready(function () {

        //Actions on click: ALTERNATIVE NORM MEASURE
        $('.comprehension-option').on('click', function () {
            // Remove 'selected' class from all buttons
            $(this).closest('.comprehension-row').find('.comprehension-option').removeClass('selected');

            // Add 'selected' class to the clicked button
            $(this).addClass('selected');

            // Get the value of the clicked button
            const value = $(this).data('value');

            // Update the hidden input fields
            if (current_treatment.includes("2PP")) { //
                $('#selected-comprehension2PP').val(value);
                index = 0
            }
            if (current_treatment.includes("3PR")) { //
                $('#selected-comprehension3PR').val(value);
                index = 1;
            }
            if (current_treatment.includes("3PC")) { //
                $('#selected-comprehension3PC2').val(value);
                index = 2;
            }

            console.log("show value", value)
            console.log("show value 1", $('#selected-comprehension3PC1').val())
            console.log("show value 2", $('#selected-comprehension3PC2').val())


            // Check if the value is correct, and show feedback
            if (errorDiv) { // If there is already an error, which was caused by clicking next: Update the error message, because otherwise no way to remove error message
                if (value == correct_answers[index]) { //If correct
                    if (current_treatment.includes("3PC")) { // For 3PC, additionally check if other question is correct
                        if ($('#selected-comprehension3PC1').val() == 0) {
                            errorDiv.textContent = "Correct answers! Please press 'Next'."
                            errorDiv.style.color = 'green';
                            errorDiv.style.backgroundColor = 'lightgreen';
                            errorDiv.style.border = '1px solid green'
                        } else {
                            errorDiv.textContent = "Correct answer! Please answer the other question correctly."
                            errorDiv.style.color = 'green';
                            errorDiv.style.backgroundColor = 'lightgreen';
                            errorDiv.style.border = '1px solid green'
                        }
                    } else {
                        errorDiv.textContent = "Correct answer! Please press 'Next'."
                        errorDiv.style.color = 'green';
                        errorDiv.style.backgroundColor = 'lightgreen';
                        errorDiv.style.border = '1px solid green'
                    }
                } else { //If incorrect
                    errorDiv.textContent = "Wrong answer! Please select the correct answer."
                    errorDiv.style.color = '';
                    errorDiv.style.backgroundColor = '';
                    errorDiv.style.border = ''
                    failedAttempts += 1;
                }
            } else { // If no error
                if (value == correct_answers[index]) { // if correct
                    if (current_treatment.includes("3PC")) { // For 3PC, additionally check if other question is correct
                        if ($('#selected-comprehension3PC1').val() == 0) {
                            $('#correct-message').show();
                            $('#incorrect-message').hide();
                            $('#correct-messageTF').hide();
                        } else {
                            $('#correct-messageTF').show();
                            $('#incorrect-message').hide();
                            $('#correct-message').hide();
                        }
                    } else {
                        $('#correct-message').show();
                        $('#incorrect-message').hide();
                    }
                } else { //if incorrect
                    $('#correct-message').hide();
                    $('#correct-messageTF').hide();
                    $('#incorrect-message').show();
                    failedAttempts += 1;
                    console.log("after update", failedAttempts)
                }
            }




        });

        //Actions on click: ALTERNATIVE NORM MEASURE
        $('.comprehension-optionTF').on('click', function () {
            // Remove 'selected' class from all buttons
            $(this).closest('.comprehension-row').find('.comprehension-optionTF').removeClass('selected');

            // Add 'selected' class to the clicked button
            $(this).addClass('selected');

            // Get the value of the clicked button
            const value = $(this).data('value');

            index = 2;

            $('#selected-comprehension3PC1').val(value);

            console.log("show value TF", value)
            console.log("show value TF1", $('#selected-comprehension3PC1').val())
            console.log("show value TF2", $('#selected-comprehension3PC2').val())

            // 3PC: Two questionsCheck if both answers are wrong

            // Check if the value is correct, and show feedback
            if (errorDiv) { // If there is already an error, which was caused by clicking next: Update the error message, because otherwise no way to remove error message
                if (value === 0) { //If correct
                    if ($('#selected-comprehension3PC2').val() == correct_answers[index] ) { //If correct AND other 3PC Q also correct
                        errorDiv.textContent = "Correct answer! Please press 'Next'."
                        errorDiv.style.color = 'green';
                        errorDiv.style.backgroundColor = 'lightgreen';
                        errorDiv.style.border = '1px solid green'
                    } else {
                        errorDiv.textContent = "Correct answer! Please answer the other question correctly."
                        errorDiv.style.color = 'green';
                        errorDiv.style.backgroundColor = 'lightgreen';
                        errorDiv.style.border = '1px solid green'
                    }
                } else { //If incorrect
                    errorDiv.textContent = "Wrong answer! Please select the correct answer."
                    errorDiv.style.color = '';
                    errorDiv.style.backgroundColor = '';
                    errorDiv.style.border = ''
                    failedAttempts += 1;
                }
            } else { // If no error
                if (value === 0) { //if correct
                    if ($('#selected-comprehension3PC2').val() == correct_answers[index] ) { //If correct AND other 3PC Q also correct
                        console.log("here3", $('#selected-comprehension3PC2').val(), correct_answers[index])
                        $('#correct-message').show();
                        $('#incorrect-message').hide();
                        $('#correct-messageTF').hide();
                    } else {
                        console.log("here4")
                        $('#correct-messageTF').show();
                        $('#incorrect-message').hide();
                        $('#correct-message').hide();
                    }
                } else { //if incorrect
                    $('#correct-messageTF').hide();
                    $('#correct-message').hide();
                    $('#incorrect-message').show();
                    failedAttempts += 1;
                    console.log("after update", failedAttempts)
                }
            }

        });

        // Submit button click handler
        $('#submit-button').on('click', function () {
            // Submit number of failed responses
            document.querySelector('form').onsubmit = function () {
                // Store failed attempts
                if (current_treatment.includes("2PP")) { //
                    document.querySelector('input[name="comp_failed2PP"]').value = failedAttempts;
                }
                if (current_treatment.includes("3PR")) { //
                    document.querySelector('input[name="comp_failed3PR"]').value = failedAttempts;
                }
                if (current_treatment.includes("3PC")) { //
                    document.querySelector('input[name="comp_failed3PC"]').value = failedAttempts;
                }
            };
            // Submit the form
            $('form').submit();
        });


    });

</script>
</head>


<body>

<form method="post">

     {% if "2PP" in player.treatment %}
        <!-- Add hidden input to store the selected value -->
        <input type="hidden" name="comprehension2PP" id="selected-comprehension2PP">

        <input type="hidden" name="comp_failed2PP"/>

<!--        {{ formfield_errors 'comprehension2PP' }}-->

    {% elif "3PR" in player.treatment %}
         <!-- Add hidden input to store the selected value -->
        <input type="hidden" name="comprehension3PR" id="selected-comprehension3PR">

        <input type="hidden" name="comp_failed3PR"/>

<!--        {{ formfield_errors 'comprehension3PR' }}-->

    {% else %}

     <!-- Add hidden input to store the selected value -->
        <input type="hidden" name="comprehension3PC1" id="selected-comprehension3PC1">

        <input type="hidden" name="comprehension3PC2" id="selected-comprehension3PC2">

        <input type="hidden" name="comp_failed3PC"/>

<!--        {{ formfield_errors 'comprehension3PC1' }}-->

    {% endif %}

    <div class="comprehension-error-green" id="correct-message" >
        {{ comprehension_error_green }}
    </div>

    <div class="comprehension-error-red" id="incorrect-message" >
        {{ comprehension_error_red }}
    </div>


    {% if "2PP" in player.treatment %}

        <div class='responsive-div'>

            <p>
                {{ comprehension_2PP }}
            </p>

            <div class='numbers'>
                <div class="comprehension-row" data-input="selected-comprehension2PP">
                    <div class="comprehension-option" data-value="0" >{{ comprehension_2PP_answer0 }} </div>
                    <div class="comprehension-option" data-value="1" >{{ comprehension_2PP_answer1 }} </div>
                    <div class="comprehension-option" data-value="2" >{{ comprehension_2PP_answer2 }} </div>
                    <div class="comprehension-option" data-value="3" >{{ comprehension_2PP_answer3 }} </div>
                </div>
            </div>

        <hr>
        </div>

    {% endif %}

    {% if "3PR" in player.treatment %}

        <div class='responsive-div'>

            <p>
                If <b>Person C</b> gives <b>3 points</b> to <b>Person A</b> in Stage 2,
                <b>what happens?</b>
            </p>

            <div class='numbers'>
                <div class="comprehension-row" data-input="selected-comprehension3PR">
                    <div class="comprehension-option" data-value="0" >{{ comprehension_2PP_answer0 }} </div>
                    <div class="comprehension-option" data-value="1" >{{ comprehension_2PP_answer1 }} </div>
                    <div class="comprehension-option" data-value="2" >{{ comprehension_2PP_answer2 }} </div>
                    <div class="comprehension-option" data-value="3" >{{ comprehension_2PP_answer3 }} </div>
                </div>
            </div>

        <hr>
        </div>

    {% endif %}

    {% if "3PC" in player.treatment %}

        <div class='responsive-div'>

            <p>
                <b>Person C</b> can <u>either</u> <b>remove points</b> from Person A <u>or</u> <b>give points</b> to Person B.
                <b> True or false?</b>
            </p>

            <div class='numbers'>
                <div class="comprehension-row" data-input="selected-comprehension3PC1">
                    <div class="comprehension-optionTF" data-value="0" >True </div>
                    <div class="comprehension-optionTF" data-value="1" >False</div>
                </div>
            </div>

            <br> <br>

            <p>
                For each <b>1 point</b> that Person C removes from Person A <u>or</u> gives to Person B, <b>Person C</b> loses...
            </p>

            <div class='numbers'>
                <div class="comprehension-row" data-input="selected-comprehension3PC2">
                    <div class="comprehension-option" data-value="0" >0 points </div>
                    <div class="comprehension-option" data-value="1" >0.33 points</div>
                    <div class="comprehension-option" data-value="2" >1 point</div>
                    <div class="comprehension-option" data-value="3" >0 points</div>
                </div>
            </div>

        <hr>
        </div>

    {% endif %}

   <div style="display: flex; justify-content: flex-end">
        <button style="color: #fff;
                       background-color: #007bff;
                       border: 1px solid #007bff;
                       font-size: 1rem;
                       border-radius: 0.25rem;
                       padding: 4px 12px;" type="button" id="submit-button">
            {{ button_next|safe }}
        </button>
    </div>


    <br>





</form>


</body>
</html>





{{ endblock }}
