{% block title %}

<!--    <div style="display: flex; justify-content: flex-end">-->
<!--        <img/>-->
<!--    </div>-->

    Welcome

{% endblock %}


{% block content %}


<div>
    <p>
        We are researchers at the University of Zürich, Switzerland, studying human decision-making.
    </p>
    <p>
        For your participation in this study, you will receive {{ participation_fee }} for taking part.
        In addition, can receive bonus points, determined by your decisions and the decisions of other participants in this study.
    </p>
    <p>
        Your participation in this study is completely voluntary.
        You may refuse to participate without penalty or loss of benefit to which you may otherwise be entitled.
    </p>
    <p>
        By clicking the “I Consent” button, you confirm that you have read the description of this study and that you give consent to participate.
    </p>
    <p>
        For questions, concerns, or suggestions about this research, please contact: <br>
        <a href="mailto:charlotte.rossetti@uzh.ch"> charlotte.rossetti@uzh.ch </a>, <a href="mailto:caroline.graf@uzh.ch"> caroline.graf@uzh.ch </a> or <a href="mailto:gross@psychologie.uzh.ch"> gross@psychologie.uzh.ch </a>
    </p>
    <p>
        Dr. Charlotte Rossetti, Dr. Caroline Graf and Dr. Jörg Gross <br>
        University of Zürich, Switzerland <br>
<!--        <img/>-->
    </p>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        <button style="
                    color: #fff;
                    background-color: #b08600;
                    border: 1px solid transparent;
                    font-size: 1rem;
                    border-radius: 0.25rem;">

        I CONSENT
    </button>

        </div>


    </p>

{% endblock %}