{% block title %}

<!--    <div style="display: flex; justify-content: flex-end">-->
<!--        <img/>-->
<!--    </div>-->


<p style="text-align: center; font-size: 26px;  ">{{ consent_title }}</p>

{% endblock %}

{{ block style }}

    <style>

        body {
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-top: 4vw;
            background-color: #f4f4f4;
        }

    </style>

{{ endblock }}


{% block content %}

<div class="card-body">

  <div>
      <p>
          {{ consent_thank_you }}
      </p>

      <h6><u>{{ consent_intro_title }}</u></h6>

      {{ consent_intro }}

      <h6><u>{{ consent_payment_title }}</u></h6>

      {{ if C.prolific == True }}
      {{ consent_payment_prolific|safe }}
      {{ else }}
      {{ consent_payment_toluna|safe }}
      {{ endif }}

      <h6><u>{{ consent_rights_title }}</u></h6>

      {{ consent_rights }}

      <p>
          <b>{{ consent_click }}</b>
      </p>

      <p>
          {{ consent_questions }}
      </p>
      <p>
          {{ consent_contact }}
<!--            <a href="mailto:charlotte.rossetti@uzh.ch"> charlotte.rossetti@uzh.ch </a>-->
<!--            or <a href="mailto:caroline.graf@uzh.ch"> caroline.graf@uzh.ch </a>-->
      </p>

    </div>

     <div style="display: flex; justify-content: flex-end">
        <button style="color: #fff; background-color: #b08600; border: 1px solid transparent; font-size: 1rem; border-radius: 0.25rem;">
            {{ button_consent }}
        </button>
    </div>

</div>

{% endblock %}