{{ block title }}

{% if lang == "ar" %}
<html lang="ar" dir="rtl">
{% endif %}

<div class="block-header">
    {{ button_block|safe }}
</div>

<p style="text-align: center; font-size: 26px; margin-bottom: 4px; "> {{ button_decision|safe }} </p>

<div style="display: flex; justify-content: center; margin-bottom: 4px;">
    <label>
        <progress value="{{ participant.progress }}" max="{{ total_pages }}">
        </progress>
    </label>
</div>


{{ endblock }}
{{ block content }}

<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    /////////// global variables

    let dic_decisions_stored = [0, 0, 0, 0]; // Array to store selected values for each row
    let dic_norm_decisions_stored = [0, 0, 0, 0]; // Array to store selected values for each row
    //console.log(`norm decisions values: ${dic_norm_decisions_stored}`);

    var current_treatment = "{{ treatment }}";
    //console.log("Current treatment:", current_treatment );

    const TP_points = {{ C.TP_points }}; // punishment points
    const TP_eff = {{ C.TP_effectiveness }}; // punishment or reward or victim compensation effectiveness

    const dic_norm_decisions = {{ dic_norm_decisions | safe }};
    //console.log('Decisions:', {{ dic_norm_decisions | safe }});

    total_endowment = {{ C.total_endowment }}
    receiver_endowment = {{ C.receiver_endowment }}

    /// Function for showing customized error messages
    var error1 = "{{ error1|safe }}";

    const errorDiv = document.querySelector('.otree-form-errors');

    if (errorDiv) {
        errorDiv.textContent = error1
    }


////////////// function for displaying the task, numbers, and labels and managing the click event

    $(document).ready(function () {

        // country pictures from https://github.com/irixapps/World-Flags/tree/master
        // naming convention: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

        receiverCountry = "{{ recip_identity }}"
        dictatorCountry = "{{ dic_identity }}"


        /////////// script

        // get flags
        $('.receiver-flag').attr('src', '/static/global/flags/' + receiverCountry +'.png');
        $('.dictator-flag').attr('src', '/static/global/flags/' + dictatorCountry +'.png');

        // get maps
        $('.receiver-map').attr('src', '/static/global/worldmap/' + receiverCountry +'.png');
        $('.dictator-map').attr('src', '/static/global/worldmap/' + dictatorCountry +'.png');


        // Initialize coin stacks and number labels for each decision
        dic_norm_decisions.forEach((dic_norm_decision) => {
            const index = dic_norm_decision.index;
            const dictatorKeeps = dic_norm_decision.dictator_keeps;
            const receiverGets = dic_norm_decision.receiver_gets;

            // Fill initial coin stacks and number labels
            if (current_treatment.includes("norm") ) { // in norm condition

                // dictator stack
                for (let i = 0; i < dictatorKeeps; i++) {
                    $(`.coinstackD[data-index="${index}"]`).append('<div class="coin" style="left:calc(50% - 63px);"></div>');
                }
                // receiver stack
                for (let i = 0; i < receiverGets; i++) {
                    $(`.coinstackR[data-index="${index}"]`).append('<div class="coinR" style="left:calc(50% - 2px)"></div>');
                }
                // number labels
                $('#countD[data-index="' + index + '"]').text(`${dictatorKeeps}`);
                $('#countR[data-index="' + index + '"]').text(`${receiverGets}`);

            } else { // in dictator giving condition

                // I think because of the loop without this the stack on page load is huge
                $('.coinstackD').empty();
                $('.coinstackR').empty();

                // dictator stack
                for (let i = 0; i < total_endowment; i++) {
                    $('.coinstackD').append('<div class="coin" style="left:calc(50% - 63px)"></div>');
                }
                // receiver stack
                for (let i = 0; i < receiver_endowment; i++) {
                    $('.coinstackR').append('<div class="coinR" style="left:calc(50% - 2px)"></div>');
                }
                // number labels
                $('#countD').text(`${total_endowment}`);
                $('#countR').text(`${receiver_endowment}`);

                // Debugging
                //console.log('Total Endowment:', total_endowment);
                //console.log('Receiver Endowment:', receiver_endowment);
            }
        });

        function deactivateNumbers(numbersToDisable) {
            numbersToDisable.forEach(num => {
                $('.number[data-value="' + num + '"]').addClass('disabled');
            });
        }

        if (!current_treatment.includes("norm") ) { // only in dictator giving conditions
            // add hover event listener to numbers
            $('.number').hover(function () {
                const value = $(this).data('value'); // Get the number value
                updateCoinStack(value); // Update the coin stack
            });

            $('.number').on('click', function () {
                // Remove 'selected' class from all buttons
                $('.number').removeClass('selected');

                // Add 'selected' class to the clicked button
                $(this).addClass('selected');

                // Get the value of the clicked button
                const value = $(this).data('value');

                // Update the hidden input field
                $('#selected-dic_decision1').val(value);

                // Update the coin stack
                updateCoinStack(value);

                //log for other functions
                dic_decisions_stored[0] = value;

                //debugging
                console.log('Dictator decision:', value)
            });

            // Submit button click handler
            $('#submit-button').on('click', function () {
                // Submit the form
                $('form').submit();
            });

            // function to update the coin stack
            function updateCoinStack(count) {
                // Clear existing coins in coinstacks

                //TPupdate = TP - count
                Dupdate = total_endowment - count
                Rupdate = receiver_endowment + count

                //$('.coinstackTP').empty();
                $('.coinstackD').empty();
                $('.coinstackR').empty();

                // Add the specified number of coins
                for (let i = 0; i < Dupdate; i++) {
                    $('.coinstackD').append('<div class="coin" style="left:calc(50% - 63px)"></div>');
                }
                for (let i = 0; i < Rupdate; i++) {
                    $('.coinstackR').append('<div class="coinR" style="left:calc(50% - 2px)"></div>'); // previously: left:83
                }

                // Update the number labels
                $('#countD').text(`${Dupdate}`);
                $('#countR').text(`${Rupdate}`);
            }

            // Function to restore the clicked or initial state of the row
            function restoreRowState() {
                const clickedValue = dic_decisions_stored[0]; //no index so just first position
                if (clickedValue > 0) {
                    updateCoinStack(clickedValue); // Restore to the clicked state
                } else {
                    updateCoinStack(0); // Restore to the initial state
                }
                //console.log(`Restored to ${clickedValue > 0 ? "clicked state" : "initial state"}`);
            }

            $(document).on('mouseleave', '.number-row', function () {
                restoreRowState();
            });

        } else { // in norm conditions

            $('.norm').on('click', function () {
                // Remove 'selected' class from all buttons
                $(this).closest('.number-row').find('.norm').removeClass('selected');

                // Add 'selected' class to the clicked button
                $(this).addClass('selected');

                // Get the value of the clicked button
                const value = $(this).data('value');
                const index = $(this).data('index');

                // Update the hidden input field
                $(`#selected-norm-${index}`).val(value);

                // Update the corresponding punishment value in the array
                dic_norm_decisions_stored[index - 1] = value;

                // This is usually done by the coinstack logic somewhere
                // since we don't update coinstacks for norms we need to add this
                // maybe we don't even need the stored array...
                dic_norm_decisions[index - 1].dic_norm_decision = value;

                // Debugging
                //console.log(`Updated norm decision at index ${index}: ${value}`);
                //console.log('dict norm Decisions:', dic_norm_decisions);
                //console.log(`norm decision values list: ${dic_norm_decisions_stored}`);
            });

            // Submit button click handler
            $('#submit-button').on('click', function () {
                // Submit the form
                $('form').submit();
            });
        }
    });

    // fill the individual coin in CSS dynamically
    document.querySelectorAll('.coin').forEach((coin, index) => {
        let start = 0.6; // Starting top value in vw
        let increment = 0.3; // Increment value in vw
        let position = start + index * increment;
        coin.style.top = position + 'vw';
    });


</script>

</head>


<body>

<form method="post">

    {% if "norm" in player.treatment %}
        <!-- Add hidden input to store the selected value -->
        <input type="hidden" name="dic_norm_decision1" id="selected-norm-1">

<!--        {{ formfield_errors 'dic_norm_decision1' }}-->

    {% else %}
        <!-- Add hidden input to store the selected value -->
        <input type="hidden" name="dic_decision1" id="selected-dic_decision1">

<!--        {{ formfield_errors 'dic_decision1' }}-->

    {% endif %}


    {% if "norm" in player.treatment %}

        {% if player.round_number < 3 %}
            <p style="text-align: center;  ">
                <b> {{ dict_norm_instru|safe }} </b>
                <br>
                {{ dict_norm_incentive|safe }}
            </p>
        {% endif %}

        {% for dic_norm_decision in dic_norm_decisions %}
            <div class='responsive-div'>

            {% if dic_identity != "baseline"%}
                <br><br>
            {% endif %}
            <div class="figure-container {% if '2PP' in player.treatment or '0DG' in player.treatment %}short-figure-container{% endif %}"
                 data-index="{{ dic_norm_decision.index }}">

                {% if dic_identity != "baseline"%}
                    <img src="" alt='country flag' class='receiver-flag'>
                    <img src="" alt='country flag' class='dictator-flag'>

                    <img src="" alt='position of country on a map' class='receiver-map'>
                    <img src="" alt='position of country on a map' class='dictator-map'>
                {% endif %}

                <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/{{ image }}">

                <div class="person-a">
                    <b>{{ PERSON_spacing|safe }}{{ person_a|safe }}</b>
                </div>
                <div class="person-b">
                    <b>{{ PERSON_spacing|safe }}{{ person_b|safe }}</b>
                </div>

                <span class='coinstack coinstackD' data-index="{{ dic_norm_decision.index }}"></span>
                <div class="coin-count-labelD" id="countD" data-index="{{ dic_norm_decision.index }}"></div>

                <span class='coinstack coinstackR' data-index="{{ dic_norm_decision.index }}"></span>
                <div class="coin-count-labelR" id="countR" data-index="{{ dic_norm_decision.index }}"></div>

                {% if "3PP" in player.treatment or "3PC" in player.treatment or player.treatment in C.COUNTRY_LIST %}
                    <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">
                {% endif %}

<!--                {% if "3PR" in player.treatment %}-->
<!--                    <img class="plus-button-3PR" src="/static/global/plus_button.png" alt="+">-->
<!--                {% endif %}-->

<!--                {% if "3PC" in player.treatment %}-->
<!--                    <img class="plus-button-3PC" src="/static/global/plus_button.png" alt="+">-->
<!--                {% endif %}-->

                {% if "2PP" in player.treatment %}
                    <img class="minus-button-2PP" src="/static/global/minus_button2.png" alt="-" style="top: -50px;">
                    <img class="punish-arrow-2PP" src="/static/global/punish arrow grey.png" alt="-">
                {% endif %}

            </div>

            <p style="text-align: center; ">
                {{dict_norm_summary|safe }}
                <br>
                {{ dict_norm_question|safe }}
            </p>

            <div class='numbers'>
                <div class="number-row" data-index="{{ dic_norm_decision.index }}" data-input="selected-norm-{{ dic_norm_decision.index }}">
                    <div class="norm" data-value="0" data-index="{{ dic_norm_decision.index }}">{{ very_inappropriate|safe }}</div>
                    <div class="norm" data-value="1" data-index="{{ dic_norm_decision.index }}">{{ inappropriate|safe  }}</div>
                    <div class="norm" data-value="2" data-index="{{ dic_norm_decision.index }}">{{ slightly_inappropriate|safe  }}</div>
                    <div class="norm" data-value="3" data-index="{{ dic_norm_decision.index }}">{{ slightly_appropriate|safe }}</div>
                    <div class="norm" data-value="4" data-index="{{ dic_norm_decision.index }}">{{ appropriate|safe }}</div>
                    <div class="norm" data-value="5" data-index="{{ dic_norm_decision.index }}">{{ very_appropriate|safe }}</div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}


    {% else %}


        <p style="text-align: center; ">
            <b style='color: red; '>{{ dict_decision_endowment|safe }}</b>
            <br> <br>

            {% if "2PP" in player.treatment %}
                <br>
            {% endif %}
        </p>

        <div style="text-align: center; margin-bottom: 20px">

            {% if "country" in player.treatment or "IN" in player.treatment or "OUT" in player.treatment %}
                {{ dict_decision_countries|safe}}
            {% endif %}
        </div>

        <div class='responsive-div'>

            {% if dic_identity != "baseline"%}
            <br><br>
            {% endif %}
            <div class="figure-container {% if '2PP' in player.treatment or '0DG' in player.treatment %}short-figure-container{% endif %}">

                {% if dic_identity != "baseline"%}
                    <img src="" alt='country flag' class='receiver-flag'>
                    <img src="" alt='country flag' class='dictator-flag'>

                    <img src="" alt='position of country on a map' class='receiver-map'>
                    <img src="" alt='position of country on a map' class='dictator-map'>
                {% endif %}

                <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/{{ image }}">

                <div class="person-a">
                        <b>{{ PERSON_spacing|safe }}{{ person_a|safe }}</b>
                    </div>
                    <div class="person-b">
                        <b>{{ PERSON_spacing|safe }}{{ person_b|safe }}</b>
                </div>

                {% if "3PP" in player.treatment or "3PR" in player.treatment or "3PC" in player.treatment %}
                    <div class="person-c">
                        <b>{{ PERSON_spacing|safe }}{{ person_c|safe }}</b>
                    </div>
                {% endif %}

                <span class='coinstack coinstackD'></span>
                <div class="coin-count-labelD" id="countD"></div>

                <span class='coinstack coinstackR'></span>
                <div class="coin-count-labelR" id="countR"></div>

                {% if "3PP" in player.treatment or "3PC" in player.treatment or player.treatment in C.COUNTRY_LIST %}
                    <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">
                {% endif %}

<!--                {% if "3PR" in player.treatment %}-->
<!--                    <img class="plus-button-3PR" src="/static/global/plus_button.png" alt="+">-->
<!--                {% endif %}-->

<!--                {% if "3PC" in player.treatment %}-->
<!--                    <img class="plus-button-3PC" src="/static/global/plus_button.png" alt="+">-->
<!--                {% endif %}-->

                {% if "2PP" in player.treatment %}
                    <img class="minus-button-2PP" src="/static/global/minus_button2.png" alt="-" style="top: -50px;">
                    <img class="punish-arrow-2PP" src="/static/global/punish arrow grey.png" alt="-">
                {% endif %}

                <div class="you-dictator">
                    <b>&nbsp;{{ YOU_spacing|safe }}{{ you|safe }}</b>
                </div>

            </div>


            <p style="text-align: center;">
                <strong>{{ dict_decision_question|safe }}</strong>
            </p>

            {% if not "0DG" in player.treatment %}

            <p style="text-align: center;">
                {{ dict_decision_mind|safe }}
            </p>

            {% endif %}

            <div class="number-row">
                {{ for num in endowments }}
                <div class="number" data-value="{{ num }}">{{ num }}</div>
                {{ endfor }}
            </div>

            {% if "0DG" in player.treatment %}
                <br>
                <p style="text-align: center;">
                    {{ dict_decision_hover|safe }}
                </p>
            {% endif %}

        </div>
        <hr>

    {% endif %}

    <div class="button-container">
        <button type="button" id="submit-button" class="submit-button">
            {{ button_next|safe }}
        </button>
    </div>

</form>


</body>
</html>



{{ endblock }}
