{{ block title }}

{{ endblock }}
{{ block content }}

Here are the instructions for condition {{ treatment_type }}.

    {{ if treatment_type == '0DG' }}


    {{ endif }}

    {{ if treatment_type == '2PP' }}


    {{ endif }}

    {{ if treatment_type == '3PP' }}


    {{ endif }}

    {{ if treatment_type == '3PR' }}


    {{ endif }}

    {{ if treatment_type == '3PC' }}


    {{ endif }}

    {{ if treatment_type == '3PP Country' }}


    {{ endif }}


    <div style="display: flex; justify-content: flex-end">
      {% next_button %}
    </div>

{{ endblock }}
