
{{ block title }}

<div class="block-header">
    Block 1
</div>

<p style="text-align: center; font-size: 26px; margin-bottom: 4px; ">
    Instructions:
    {% if "0DG" in player.treatment and player.round_number < 9 %}
        Part 1
    {% endif %}
    {% if "2PP" in player.treatment and player.round_number < 9%}
        Part 2
    {% endif %}
    {% if "3PP" in player.treatment and player.round_number < 9%}
        Part 3
    {% endif %}
    {% if "3PR" in player.treatment and player.round_number < 9%}
        Part 4
    {% endif %}
    {% if "3PC" in player.treatment and player.round_number < 9%}
        Part 5
    {% endif %}
    {% if "3PC" in player.treatment %}
        {% if "IN" in player.treatment or "OUT" in player.treatment %}
            Part 6
        {% endif %}
    {% endif %}
    {% if "3PP" in player.treatment  %}
        {% if "IN" in player.treatment or "OUT" in player.treatment %}
            Part 4
        {% endif %}
    {% endif %}
    {% if "3PP country" in player.treatment %}
        Part 5
    {% endif %}
</p>

<div style="display: flex; justify-content: center">
    <label>
        <progress value="{{ participant.progress }}" max="{{ C.total_pages }}">
        </progress>
    </label>
</div>


{{ endblock }}
{{ block content }}

<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">


<script>

    /////////// global variables

    const TP_points = {{ C.TP_points }}; // punishment points
    const TP_eff = {{ C.TP_effectiveness }}; // punishment or reward or victim compensation effectiveness

    total_endowment = {{ C.total_endowment }}
    receiver_endowment = {{ C.receiver_endowment }}


    var current_treatment = "{{ treatment }}";
    var current_treatment_short = "{{ treatment_type }}";
    var current_round_number = "{{ player.round_number }}";

    // Store last clicked row type for TP
    let lastClickedRowType = null;
    let lastClickedValue = 0;

    /// TP has some additional code here:
    if (current_treatment_short.includes("2PP") || current_treatment_short.includes("3PP") || current_treatment_short.includes("3PR") || current_treatment_short.includes("3PC") && current_round_number < 9){

        // Function to update the coin stack (TP_decisions only)
        function updateCoinStackTP(count, row) {

            console.log('updateCoinStackTP ', count)

            const TPupdate = coins_diff - count;
            let dictator_recipient_TPeffectUpdate = count * TP_eff;

            let Dupdate = coins_diff - (count * TP_eff); // Assuming TP_decision.dictator_keeps = TP_points
            Cupdate = count* TP_eff // compensation updating

            console.log('updateCoinStackTP  Dupdate', Dupdate)


            if (Dupdate < 0 && (current_treatment.includes("punish") || current_treatment.includes("3PP country") || current_treatment.includes("comp"))) {
                dictator_recipient_TPeffectUpdate += Dupdate; // Prevent exceeding max endowment
                Dupdate = 0;
            }

            if (current_treatment.includes("3PR")) {
                Dupdate = coins_diff; // Leave dictator coins unchanged in 3PR
            }

            // Clear existing stacks
            if (row !== "compensate") {
                $('.coinstackTP, .coinstackD-TP, .coinstackDDes, .coinstackDDes2PP, .coinstackTP2PP, .coinstackTP3PR').empty();
            }
            if (row !== "punish") {
                $('.coinstackTP3PC').empty();
            }

            // Add the specified number of coins
            if (row !== "compensate") {
                for (let i = 0; i < TPupdate; i++) {
                    $('.coinstackTP').append('<div class="coinown" style="left:75%;"></div>');
                }

                for (let i = 0; i < Dupdate; i++) {
                    $('.coinstackD-TP').append('<div class="coin" style="left:14%;"></div>');
                }

                for (let i = 0; i < dictator_recipient_TPeffectUpdate; i++) {
                    $('.coinstackDDes').append('<div class="coin_destroyed" style="left:5%;"></div>');
                }
            }

            console.log('Dupdate', Dupdate)

            // Update other stacks for subconditions: 2PP, 2PR, 3PC
            for (let i = 0; i < TPupdate; i++) {
                $('.coinstackTP2PP').append('<div class="coinown2PP" style="left:83%;"></div>');
            }

            for (let i = 0; i < dictator_recipient_TPeffectUpdate; i++) {
                $('.coinstackTP3PR').append('<div class="coinown3PR" style="left:7%;"></div>');
            }

            if (row !== "punish") {
                for (let i = 0; i < Cupdate; i++) {
                    $('.coinstackTP3PC').append('<div class="coinown3PC" style="left:90%;"></div>');
                }
            }

            for (let i = 0; i < dictator_recipient_TPeffectUpdate; i++) {
                $('.coinstackDDes2PP').append('<div class="coin_destroyed2PP" style="left:55%;"></div>');
            }

            // Update the number labels
            if (row !== "compensate") {
                $('#countTP').text(`${TPupdate}`);
                $('#countD').text(`${Dupdate}`);
                $('#countDDes').text(`${dictator_recipient_TPeffectUpdate}`);
                $('#countDDes2PP').text(`${dictator_recipient_TPeffectUpdate}`);
                $('#countTP2PP').text(`${TPupdate}`);
                $('#countTP3PR').text(`${dictator_recipient_TPeffectUpdate}`);
                console.log('updateCoinStackTP dictator_recipient_TPeffectUpdate', dictator_recipient_TPeffectUpdate)

            }
            if (row !== "punish") {
                $('#countTP3PC').text(`${Cupdate}`);
            }

        }


        // Hover function calling updateCoinStack - Updates the hovered row and resets the other row
            $(document).on('mouseenter', '.number', function () {
                const value = $(this).data('value');  // Get number value
                const row = $(this).closest('.number-row-comp').length ? "compensate" : "punish"; // Detect row type

                //console.log('Hover triggered. Value:', value, 'Index:', index, 'Row:', row);

                // Update the hovered stack
                updateCoinStackTP(value, row);

                // Reset the other stack while hovering
                const otherRow = row === "punish" ? "compensate" : "punish";
                updateCoinStackTP(0, otherRow);
            });



            // Mouse leave function - Ensures only one updated stack remains
            $(document).on('mouseleave', '.number-row, .number-row-comp', function () {
                //const index = $(this).data('index');
                //restoreRowState(index);
                console.log('lastClickedRowType lastClickedValue', lastClickedRowType, lastClickedValue)
                // Restore function - Ensures only one stack stays updated after hovering
                if (lastClickedRowType) {
                    updateCoinStackTP(lastClickedValue, lastClickedRowType); // Restore clicked stack
                    updateCoinStackTP(0, lastClickedRowType === "punish" ? "compensate" : "punish"); // Reset other stack
                    //console.log(`Restoring last clicked stack: ${lastClickedRowType} at index ${index}`);
                } else {
                    // Reset both if nothing was clicked
                    updateCoinStackTP(0, "punish");
                    updateCoinStackTP(0, "compensate");
                    //console.log(`Resetting both stacks at index ${index}`);
                }
            });
    }

////////////// function for displaying the task, numbers, and labels and managing the click event

    $(document).ready(function () {

        if (current_treatment.includes("country") || current_treatment.includes("universal norm") || current_treatment.includes("OUT") || current_treatment.includes("IN") ) {
            receiverCountry = "{{ recip_identity }}"
            dictatorCountry = "{{ dic_identity }}"
            // get flags
            $('.receiver-flag').attr('src', '/static/global/flags/' + receiverCountry +'.png');
            $('.dictator-flag').attr('src', '/static/global/flags/' + dictatorCountry +'.png');

            // get maps
            $('.receiver-map').attr('src', '/static/global/worldmap/' + receiverCountry +'.png');
            $('.dictator-map').attr('src', '/static/global/worldmap/' + dictatorCountry +'.png');
        }

        // Set the default display text for TP cost
        $('#TP-cost-display').text('_');

        // Set the default display text of the clicked number
        $('#trial-dic1-display').text('___');
        $('#trial-dic2-display').text('___');
        $('#trial-norm1-display').text('___________________');
        $('#trial-norm2-display').text('___________________');
        $('#trial-2PP-display').text('___');
        $('#trial-3PP-display').text('___');
        $('#trial-3PR-display').text('___');
        $('#trial-3PC-display').text('___');
        $('#trial-3PC-row1-display').text('______');
        $('#trial-3PC-row2-display').text('______');

        // Define labels of appropriateness for displaying clicked norm
        const valueToLabel = {
            0: "very socially inappropriate",
            1: "socially inappropriate",
            2: "slightly socially inappropriate",
            3: "slightly socially appropriate",
            4: "socially appropriate",
            5: "very socially appropriate"
        };

        // Set the dictator and receiver coins for norm test rounds, depending on condition
        if (current_treatment_short.includes("0DG") ) {
            coins =  "{{ random_trial_numbers.0 }}"
            coins_diff = "{{ random_trial_numbers_diff.0 }}"
        }
        else if (current_treatment_short.includes("2PP") && current_round_number < 9){
            coins =  "{{ random_trial_numbers.1 }}"
            coins_diff = "{{ random_trial_numbers_diff.1 }}"
        }
        else if (current_treatment_short.includes("3PP") && current_round_number < 9){
            coins =  "{{ random_trial_numbers.2 }}"
            coins_diff = "{{ random_trial_numbers_diff.2 }}"
        }
        else if (current_treatment_short.includes("3PR") && current_round_number < 9){
            coins =  "{{ random_trial_numbers.3 }}"
            coins_diff = "{{ random_trial_numbers_diff.3 }}"
        }
        else if (current_treatment_short.includes("3PC") && current_round_number < 9){
            coins =  "{{ random_trial_numbers.4 }}"
            coins_diff = "{{ random_trial_numbers_diff.4 }}"
        }
        else {
            coins =  999
            coins_diff = 999
        }

        console.log('coins', coins)
        console.log('coins_diff', coins_diff)

        // Fill initial coin stacks and number labels
        dictator_recipient_TPeffect = 0 // dictator or recipient points that are destroyed by punishment or added by reward/compensation

        // dictator stack static (for static display of role labels)
        for (let i = 0; i < total_endowment; i++) {
            $(`.coinstackD-static`).append('<div class="coin" style="left:calc(50% - 63px);"></div>');
        }
        // dictator stack
        for (let i = 0; i < total_endowment; i++) {
            $(`.coinstackD`).append('<div class="coin" style="left:calc(50% - 63px);"></div>');
        }
        // receiver stack
        for (let i = 0; i < receiver_endowment; i++) {
            $(`.coinstackR`).append('<div class="coinR" style="left:calc(30% - 2px)"></div>');
        }
        // dictator stack static for norm
        for (let i = 0; i < coins_diff; i++) {
            $(`.coinstackD-static-norm`).append('<div class="coin" style="left:calc(50% - 63px);"></div>');
        }
        // receiver stack static for norm
        for (let i = 0; i < coins; i++) {
            $(`.coinstackR-static-norm`).append('<div class="coinR" style="left:calc(30% - 2px)"></div>');
        }
        // dictator stacks dynamic for TP
        for (let i = 0; i < coins_diff; i++) {
            $(`.coinstackD-TP`).append('<div class="coin" style="left:14%;"></div>');
        }
        // receiver stacks dynamic for TP
        for (let i = 0; i < coins; i++) {
            $(`.coinstackR-TP`).append('<div class="coinR" style="left:50%;"></div>');
        }

        // Extra stacks in different locations
        // punisher in 2PP punisher stack
        for (let i = 0; i < TP_points; i++) {
            $(`.coinstackTP2PP`).append('<div class="coinown2PP" style="left:83%;"></div>');
        }
        // DG reward in 3PR
        for (let i = 0; i < dictator_recipient_TPeffect; i++) {
            $(`.coinstackTP3PR`).append('<div class="coinown3PR" style="left:7%;"></div>');
        }
        // recipient compensation in 3PC
        for (let i = 0; i < dictator_recipient_TPeffect; i++) {
            $(`.coinstackTP3PC`).append('<div class="coinown3PC" style="left:90%;"></div>');
        }
        // Destroyed coins 2PP
        for (let i = 0; i < dictator_recipient_TPeffect; i++) {
            $(`.coinstackDDes2PP`).append('<div class="coinown" style="left:75%;"></div>></div>');
        }

        // number labels
        $('.coin-count-labelD').text(`${total_endowment}`);
        $('.coin-count-labelD-static').text(`${total_endowment}`);
        $('.coin-count-labelD-static2').text(`${total_endowment}`);
        //$('.coin-count-labelR').text(`${receiver_endowment}`);
        $('.coin-count-labelD-static-norm').text(`${coins_diff}`);
        $('.coin-count-labelR-static-norm').text(`${coins}`);
        $('.coin-count-labelD-TP').text(`${coins_diff}`);
        $('.coin-count-labelR-TP').text(`${coins}`);

        // Initialize number labels for TP (still non-class version
        $('#countTP').text(`${TP_points}`);
        $('#countD').text(`${coins_diff}`);
        $('#countR').text(`${coins}`);
        $('#countTP2PP').text(`${TP_points}`);
        // You can also initialize other labels like countDDes, countTP3PR, etc. if needed
        $('#countDDes').text(`${dictator_recipient_TPeffect}`);
        $('#countDDes2PP').text(`${dictator_recipient_TPeffect}`);
        $('#countTP3PR').text(`${dictator_recipient_TPeffect}`);
        $('#countTP3PC').text(`${dictator_recipient_TPeffect}`);


        console.log('coinstackD', ($('.coinstackD')))
        console.log('coinstackD-static', ($('.coinstackD-static')))

        // // I think because of the loop without this the stack on page load is huge
        // $('.coinstackD').empty();
        // $('.coinstackR').empty();

        function deactivateNumbers(numbersToDisable, row) { //Removed index
                // Only deactivate numbers for the "punish" row
                if (row === "punish") {
                    numbersToDisable.forEach(num => {
                        // Add 'disabled' class to numbers that are not allowed for the "punish" row
                        $('.number[data-value="' + num + '"][data-row="punish"]').addClass('disabled');
                    });
                }
            }

        // deactive punishment that would generate negative values
        let numbersToDisable = [];
        // Calculate the maximum punishment value possible based on the dictator's kept coins
        DPpossible = Math.ceil(coins_diff / TP_eff);

        // Generate the numbers that should be disabled (punishment numbers that exceed possible value)
        for (let i = DPpossible + 1; i <= TP_points; i++) {
            numbersToDisable.push(i); // Add all numbers that are larger than the max possible punishment value
            console.log('numbersToDisable', numbersToDisable)
        }

        // Only deactivate numbers in the "punish" row for specific treatments (including "3PC comp")
        if (current_treatment.includes("2PP") || current_treatment.includes("3PP") || current_treatment.includes("3PC") ) {
            // Ensure we only disable punishment numbers for the "punish" row
            deactivateNumbers(numbersToDisable, "punish");
        }

        // Formatting function to display TP cost nicely
            function formatNumber(num) {
                return Number.isInteger(num) ? num.toString() : num.toFixed(2);
            }


        ///// Only for dictator trials:
        if (current_treatment_short.includes("0DG") ) { // For dictator giving

            // add hover event listener to numbers
            $('.number').hover(function () {
                const value = $(this).data('value'); // Get the number value
                updateCoinStack(value); // Update the coin stack
            });

            let dictator = null; // Initialize

            $('.number').on('click', function () {
                // Remove 'selected' class from all buttons
                $('.number').removeClass('selected');

                // Add 'selected' class to the clicked button
                $(this).addClass('selected');

                // Get the value of the clicked button
                const value = $(this).data('value');

                console.log('Click value:', value)

                // // Update the hidden input field
                // $('#selected-dic_decision1').val(value);

                // Update the display text the clicked number
                $('#trial-dic1-display').text('' + value);
                $('#trial-dic2-display').text('' + 12 - value);

                // Update the coin stack
                updateCoinStack(value);

                dictator = value

                console.log('Dictator decision:', dictator)
            });

            // update coin stacks to original state when mouse leaves number area
            $('.number-row').mouseleave(function () {
                updateCoinStack(dictator);
            });

        }
        else { // For TPs

            // Click function - Stores last clicked stack and updates accordingly
            $('.number').on('click', function () {
                // Remove 'selected' class from all buttons in the same group
                $(this).closest('.numbers').find('.number').removeClass('selected');

                // Add 'selected' class to the clicked button
                $(this).addClass('selected');

                // Get values
                const value = $(this).data('value');
                const row = $(this).closest('.number-row-comp').length ? "compensate" : "punish";

                // Update the hidden input field (without index)
                $('.selected-number').val(value);

                // Store clicked values
                lastClickedRowType = row;
                lastClickedValue = value;

                costTP = formatNumber(value / 3);

                // Update the display text for TP cost
                $('#TP-cost-display').text('' + costTP);

                // Update the display text the clicked number
                $('#trial-2PP-display').text('' + value);
                $('#trial-3PP-display').text('' + value);
                $('#trial-3PR-display').text('' + value);
                $('#trial-3PC-display').text('' + value);

                // Extract the action from lastClickedRowType
                if (lastClickedRowType === "punish") {
                    $('#trial-3PC-row1-display').text('remove');
                    $('#trial-3PC-row2-display').text('from Person A');
                }

                if (lastClickedRowType === "compensate") {
                    $('#trial-3PC-row1-display').text('give');
                    $('#trial-3PC-row2-display').text('to Person B');
                }

                // Update the clicked stack
                updateCoinStackTP(value, row);

                // Reset the other stack
                const otherRow = row === "punish" ? "compensate" : "punish";
                updateCoinStackTP(0, otherRow);

                console.log(`Clicked decision (${row}): ${value}`);
            });

        }

        // Submit button click handler
        $('#submit-button').on('click', function () {
            // Submit the form
            $('form').submit();
        });

        // function to update the coin stack
        function updateCoinStack(count) {

                //TPupdate = TP - count
                Dupdate = total_endowment - count
                Rupdate = receiver_endowment + count

                //$('.coinstackTP').empty();
                $('.coinstackR').empty();
                $('.coinstackD').empty();

                // Add the specified number of coins
                for (let i = 0; i < Rupdate; i++) {
                    $('.coinstackR').append('<div class="coinR" style="left:calc(50% - 6vw)"></div>'); // previously: left:83
                }

                for (let i = 0; i < Dupdate; i++) {
                    $('.coinstackD').append('<div class="coin" style="left:calc(50% + 6vw)"></div>');
                }

                // Update the number labels
                $('.coin-count-labelD').text(`${Dupdate}`);
                $('.coin-count-labelR').text(`${Rupdate}`);

        }




        $('.norm').on('click', function () {
            // Remove 'selected' class from all buttons
            $(this).closest('.number-row').find('.norm').removeClass('selected');

            // Add 'selected' class to the clicked button
            $(this).addClass('selected');

            // Get the value of the clicked button
            const value = $(this).data('value');

            // Get the label from the mapping
            const label = valueToLabel[value];

            // Update the display text the clicked number
            $('#trial-norm1-display').text('' + label);
            $('#trial-norm2-display').text('"' + label + '"');

        });

    });

</script>
</head>

<body>

<form method="post">

    {{ if treatment_type == '0DG' }}

        <p>
            In <u>each</u> decision situation,
            you will be paired with a <b>different study participant</b>.
            You will also be assigned a role for every decision
            (for example, Person A or Person B).
        </p>

        <p>The decision situation will look like this:</p>

        <div class="figure-container short-figure-container">

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/0DG give.png">

            <div class="person-a">
                <b>PERSON A</b>
            </div>
            <div class="person-b">
                <b>PERSON B</b>
            </div>

            <span class='coinstackD' ></span>
            <div class="coin-count-labelD" style="top: 52%"></div>

        </div>

        <p>
            <strong>Person A</strong> receives 12 points.<br>
            <strong>Person B</strong> receives 0 points.
        </p>

        <p>
            <strong>Person A</strong> decides how many of the 12 points to <b>give</b>
            to <b>Person B</b> and how many to keep for themselves.
            Person B does not make a decision.
        </p>

<!--        <hr>-->

<!--        <p>In this practice exercise, you are Person A, which is indicated by the red rectangle. You receive 12 points and Person B receives 0 points. </p>-->

<!--        <p>Now, you will decide <b style="color: red;">how many points to give</b> to Person B. To make a decision, click on a number. As you move your cursor over the numbers (or press them on your phone), you will see how many points you and Person B would receive.</p>-->

<!--        <div class="figure-container {% if '2PP' in player.treatment or '0DG' in player.treatment %}short-figure-container{% endif %}">-->

<!--            <img src="/static/{{ image }}" style="width:27vw; position:absolute; left:-25%; top:3vw">-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 60%; left:-25%;">PERSON A</b>-->
<!--                </p>-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 60%; right:-12%;">PERSON B</b>-->
<!--                </p>-->

<!--                <p>-->
<!--                    <b style="color: red; font-size: 24px; position: absolute; top: 43%; left:-18.5%;">YOU</b>-->
<!--                </p>-->

<!--                <span class='coinstackD' ></span>-->
<!--                <div class="coin-count-labelD"-->
<!--                     style="top: 55%; "></div>-->

<!--                <span class='coinstackR' ></span>-->
<!--                <div class="coin-count-labelR"-->
<!--                 style="{% if '2PP' in player.treatment or '0DG' in player.treatment %}top: 20%;{% endif %}"></div>-->

<!--        </div>-->

<!--        <p> <strong> How many points do you <b style="color: red;">give</b> to Person B?</strong> </p>-->

<!--        <div class='numbers'>-->
<!--           <div class="number-row">-->
<!--                {{ for num in [0,1,2,3,4,5,6,7,8,9,10,11,12] }}-->
<!--                <div class="number" data-value="{{ num }}">{{ num }}</div>-->
<!--                {{ endfor }}-->
<!--            </div>-->
<!--        </div>-->

<!--        <br>-->

<!--        <p>You have decided to give <strong> <span id="trial-dic1-display"></span> </strong> points to Person B and keep <strong><span id="trial-dic2-display"></span></strong> points for yourself.</p>-->

<!--        <p>In this example, you were assigned to the role of Person A. You will also sometimes be assigned to the role of Person B. When you are Person B, you will not see this decision situation, because Person B does not make any decision.</p>-->

<!--        <hr>-->

<!--        <p>You will also make a decision about the <b> social acceptability</b> of Person A’s decisions. You will be shown different possible decisions of Person A. Then you decide how socially appropriate this decision is, among the following options:</p>-->

<!--        <ul>-->
<!--            <li>Very socially <strong>un</strong>appropriate</li>-->
<!--            <li>Socially <strong>un</strong>appropriate</li>-->
<!--            <li>Slightly socially <strong>un</strong>appropriate</li>-->
<!--            <li>Slightly socially appropriate</li>-->
<!--            <li>Socially appropriate</li>-->
<!--            <li>Very socially appropriate</li>-->
<!--        </ul>-->

<!--        <p>Importantly, you will receive <b>12 additional points</b> if your decision is the same as the most common decision among all other participants in {{current_country}} taking part in this study.</p>-->

<!--        <p> In this practice exercise, you will decide <b style="color: red;">how socially appropriate</b> it is for Person A to give <strong> {{random_trial_numbers.0}} </strong> points to Person B and keep <strong> {{random_trial_numbers_diff.0}} </strong> points for themselves. Please click on one of the six buttons.</p>-->

<!--        <div class="figure-container {% if '2PP' in player.treatment or '0DG' in player.treatment %}short-figure-container{% endif %}">-->

<!--            <img src="/static/{{ image }}" style="width:27vw; position:absolute; left:-25%; top:3vw">-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 60%; left:-25%;">PERSON A</b>-->
<!--                </p>-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 60%; right:-12%;">PERSON B</b>-->
<!--                </p>-->

<!--                <p>-->
<!--                    <b style="color: red; font-size: 24px; position: absolute; top: 43%; left:-18.5%;">YOU</b>-->
<!--                </p>-->

<!--                <span class='coinstackD-static-norm' ></span>-->
<!--                <div class="coin-count-labelD-static-norm"-->
<!--                     style="top: 55%; "></div>-->

<!--                <span class='coinstackR-static-norm' ></span>-->
<!--                <div class="coin-count-labelR-static-norm"-->
<!--                 style="{% if '2PP' in player.treatment or '0DG' in player.treatment %}top: 20%;{% endif %}"></div>-->

<!--        </div>-->

<!--        <div class='numbers'>-->
<!--                <div class="number-row" >-->
<!--                    <div class="norm" data-value="0" >very socially<br>inappropriate</div>-->
<!--                    <div class="norm" data-value="1" >socially<br>inappropriate</div>-->
<!--                    <div class="norm" data-value="2" >slightly socially<br>inappropriate</div>-->
<!--                    <div class="norm" data-value="3" >slightly socially<br>appropriate</div>-->
<!--                    <div class="norm" data-value="4" >socially<br>appropriate</div>-->
<!--                    <div class="norm" data-value="5" >very socially<br>appropriate</div>-->
<!--                </div>-->
<!--            </div>-->

<!--        <p> <br> You have decided that Person A giving <strong> {{random_trial_numbers.0}} </strong> points to Person B is <strong> <span id="trial-norm1-display"></span> </strong>.</p>-->

<!--        <p>If most other participants in {{current_country}} also choose <strong><span id="trial-norm2-display"></span></strong>, you would receive 12 points.</p>-->


    {{ endif }}


    {{ if player.round_number == 3 }}

        <p>The decisions you just made are called <strong>Stage 1</strong>.</p>

        <p>In the next parts, each interaction has <strong>two stages</strong>. </p>

        <p>In <b>Stage 1</b>, Person A always receives 12 points and decides how many of the 12 points to give to Person B.</p>

        <div class="figure-container short-figure-container">

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/0DG give.png">

            <div class="person-a">
                <b>PERSON A</b>
            </div>
            <div class="person-b">
                <b>PERSON B</b>
            </div>

            <span class='coinstackD' ></span>
            <div class="coin-count-labelD" style="top: 52%"></div>

        </div>

<!--        <p><strong>Person A</strong> receives 12 points.<br>-->
<!--        <strong>Person B</strong> receives 0 points.</p>-->

<!--        <p><strong>Person A</strong> decides how many of the 12 points to give to Person B.</p>-->

        <hr>

        <p> <b>After</b> Person A makes their decision, <strong>Stage 2</strong> begins.</p>

<!--        {{ if treatment_type == '2PP' }}-->

            <p>
                In <b>Stage 2</b>, <b>Person B</b> is able to <strong>remove points</strong>
                from <strong>Person A</strong>.
            </p>
            <p>
                Person A and Person B both receive additional 4 points in Stage 2.
<!--                Only Person B can use these points to remove points from Person A.-->
<!--                Only Person A's remaining points from Stage 1 can be removed.-->
                Points removed by Person B are eliminated.

                For each <b>1 point</b> that Person B removes from Person A, Person B loses <b>0.33 points</b>.
            </p>

            <p> You will be assigned different roles at different times: Person A or Person B</p>

            <br>
            <div class="figure-container short-figure-container">

                <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/2PP_2 punish.png">

                <div class="person-a">
                    <b>PERSON A</b>
                </div>
                <div class="person-b">
                    <b>PERSON B</b>
                </div>

                <img class="minus-button-2PP" src="/static/global/minus_button2.png" alt="-" style="top: -18px;">
                <img class="punish-arrow-2PP" src="/static/global/punish arrow orange.png" alt="-" style="top: 3%;">

    <!--                <span class='coinstackD-static' ></span>-->
    <!--                <div class="coin-count-labelD-static2"-->
    <!--                     style="top: 60%; "></div>-->
            </div>

<!--        {{ else }}-->

<!--            <p>In <b>Stage 2</b>, you will be joined by a <strong>third person: Person C.-->
<!--            Person C</strong> will decide whether to change the points of Person A or Person B.-->
<!--            The possible choices of Person C will be explained below.</p>-->

<!--        <div class="figure-container">-->

<!--            <img src="/static/global/treatments/3PC comp.png" style="width:27vw; top:0vw">-->

<!--            <div class="person-a" style="top:29%">-->
<!--                <b>PERSON A</b>-->
<!--            </div>-->
<!--            <div class="person-b" style="top:29%">-->
<!--                <b>PERSON B</b>-->
<!--            </div>-->
<!--            <div class="person-c">-->
<!--                <b>PERSON C</b>-->
<!--            </div>-->

<!--                <span class='coinstackD-static' ></span>-->
<!--                <div class="coin-count-labelD-static2"-->
<!--                     style="top: 33%; "></div>-->

<!--        </div>-->
<!--        {{ endif }}-->

    {{ endif }}


    {{ if treatment_type == '3PP' and player.round_number < 9 }}

<!--        {{ if first_block_2PP_true == True and player.round_number == 6 }}-->
<!--            <p>In the next part, you will be joined by a <strong>third person: Person C. Person C</strong> will decide whether to change the points of Person A or Person B. The possible choices of Person C will be explained below. Person B will again not be able to make a decision.</p>-->

<!--            <div class="figure-container">-->

<!--            <img src="/static/global/treatments/3PC comp.png" style="width:27vw; position:absolute; left:-25%; top:3vw">-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 36%; left:-25%;">PERSON A</b>-->
<!--                </p>-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 36%; right:-12%;">PERSON B</b>-->
<!--                </p>-->

<!--                <p>-->
<!--                    <b style="position: absolute; top: 85%; left:34%;">PERSON C</b>-->
<!--                </p>-->

<!--                <span class='coinstackD-static' ></span>-->
<!--                <div class="coin-count-labelD-static2"-->
<!--                     style="top: 33%; "></div>-->

<!--        </div>-->

<!--            <hr>-->

<!--        {{ endif }}-->

        <div class="figure-container">

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/3PP punish.png">

            <div class="person-a" style="top:29%">
                <b>PERSON A</b>
            </div>
            <div class="person-b" style="top:29%">
                <b>PERSON B</b>
            </div>
            <div class="person-c">
                <b>PERSON C</b>
            </div>

            <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">

<!--                <span class='coinstackD-static' ></span>-->
<!--                <div class="coin-count-labelD-static2"-->
<!--                     style="top: 33%; "></div>-->
        </div>

        <p style="color: red; text-align: center; "> <b>Now there is one change.</b> </p>

        <br>
        <p>There will also be a third person: <b >Person C.</b> </p>

        <p>
            Person B is <u>not</u> able to remove points anymore. Instead, <b style="color: red; ">Person C</b> is able to <b>remove points</b> from Person A.
        </p>

        <p> Person C receives 4 points in Stage 2 and can use these points to remove points from Person A.
            Points removed by Person C are eliminated.
            For each <b>1 point</b> that Person C removes from Person A, Person C loses <b>0.33 points</b>.
        </p>

        <p> You will be assigned different roles at different times:
            Person A, Person B, or Person C.
<!--            When you are Person B, you will not be asked to make any decision,-->
<!--            because Person B is not able to make a decision.-->
        </p>

<!--        <hr>-->

<!--        <p>In this practice exercise, you are <strong>Person C</strong>, which is indicated by the red rectangle. In Stage 1, Person A kept <strong> {{random_trial_numbers_diff.2}} </strong> points and gave <strong> {{random_trial_numbers.2}} </strong> points to Person B. </p>-->

<!--        <p>Now, you decide how many points to <b style="color: red;">remove</b> from Person A. To make a decision, click on a number. As you move your cursor over the numbers (or press them on your phone), you will see how many points Person A would lose.</p>-->

<!--        <div class="figure-container" >-->

<!--                <img src="/static/global/treatments/3PP punish.png" style="width:27vw; position:absolute; left:-25%; top:3vw">-->


<!--                    <p>-->
<!--                    <b style="position: absolute; top: 36%; left:-25%;">PERSON A</b>-->
<!--                    </p>-->

<!--                    <p>-->
<!--                        <b style="position: absolute; top: 36%; right:-13%;">PERSON B</b>-->
<!--                    </p>-->

<!--                    <p>-->
<!--                        <b style="position: absolute; top: 85%; left:34%;">PERSON C</b>-->
<!--                    </p>-->

<!--                <span class='coinstackD-TP' ></span>-->
<!--                <div class="coin-count-labelD"-->
<!--                     style="{% if '2PP' in player.treatment %}top: 55%;{% endif %}"-->
<!--                     id="countD" ></div>-->

<!--                <span class='coinstackR-TP' ></span>-->
<!--                <div class="coin-count-labelR"-->
<!--                     style="{% if '2PP' in player.treatment %}top: 20%;{% endif %}"-->
<!--                     id="countR" ></div>-->


<!--                <span class='coinstack coinstackDDes' ></span>-->
<!--                <div class="coin-count-labelDDes" id="countDDes" ></div>-->

<!--                    <img src="/static/global/minus_button2.png" alt="-" style="position: absolute; width: 1.8vw; top: 55%; left: 12%;">-->

<!--                    <p>-->
<!--                        <b style="color: red; font-size: 24px; position: absolute; top: 75%; left:38.5%;">YOU</b>-->
<!--                    </p>-->


<!--            </div>-->


<!--        <p> <strong> How many points do you <b style="color: red;">remove</b> from Person A?</strong> </p>-->

<!--        <div class='numbers'>-->
<!--           <div class="number-row" data-row="punish">-->
<!--                {{ for num in [0,1,2,3,4,5,6,7,8,9,10,11,12] }}-->
<!--                <div class="number" data-value="{{ num }}" data-row="punish">{{ num }}</div>-->
<!--                {{ endfor }}-->
<!--            </div>-->
<!--            <br>-->
<!--            {% if "3PC" in player.treatment%}-->
<!--            <p> <strong>How many points do you <b style="color: red;"> give </b> to Person B? </strong> </p>-->

<!--            <div class="number-row-comp" data-row="compensate" >-->
<!--                {{ for num in [0,1,2,3,4,5,6,7,8,9,10,11,12] }}-->
<!--                <div class="number" data-value="{{ num }}" data-row="compensate" >{{ num }}</div>-->
<!--                {{ endfor }}-->
<!--            </div>-->
<!--            {% endif %}-->
<!--        </div>-->


<!--        <br>-->

<!--        <p>You have decided to remove <strong> <span id="trial-3PP-display"></span> </strong> points from Person A. This costs you <span id="TP-cost-display"></span> points. </p>-->



<!--        <p>In this example, Person A gave <strong> {{random_trial_numbers.2}} </strong> points to Person B. For the real decisions, you will see different possible cases, where Person A gives varying points to Person B.</p>-->

<!--        <p>As before, you will also sometimes be assigned to the role of Person A or Person B.</p>-->

<!--        <p>Additionally, you will make a decision about the social acceptability of Person C’s decision to remove points from Person A.</p>-->



    {{ endif }}


    {{ if treatment_type == '3PR' and player.round_number < 9 }}

        <div class="figure-container">

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/3PP punish.png">

            <div class="person-a" style="top:29%">
                <b>PERSON A</b>
            </div>
            <div class="person-b"style="top:29%">
                <b>PERSON B</b>
            </div>
            <div class="person-c">
                <b>PERSON C</b>
            </div>

            <img class="plus-button-3PR" src="/static/global/plus_button.png" alt="+">
        </div>

        <p style="color: red; text-align: center; "> <b>Now there is one change.</b> </p>

        <br>
        <p>
            Person C is <u>not</u> able to remove points anymore. Instead, <b>Person C</b> is able to <b style="color: red;">give points</b>
            to Person A.
        </p>

        <p>
            Person C receives 4 points in Stage 2 and can use these points to give points to Person A.
            For each <b>1 point</b> that Person C gives to Person A, Person C loses <b>0.33 points</b>.
        </p>

    {{ endif }}


    {{ if treatment_type == '3PC' and player.round_number < 9 }}

        <div class="figure-container">

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/3PC comp.png">

            <div class="person-a" style="top:29%">
                <b>PERSON A</b>
            </div>
            <div class="person-b" style="top:29%">
                <b>PERSON B</b>
            </div>
            <div class="person-c">
                <b>PERSON C</b>
            </div>

            <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">
            <img class="plus-button-3PC" src="/static/global/plus_button.png" alt="+">

        </div>

        <p style="color: red; text-align: center; "> <b>Now there is one change.</b> </p>

        <br>

        <p> In Stage 2, <b>Person C</b> is able to <u>either</u> <b style="color: red; ">remove points from Person A </b>
            <u>or</u> <b style="color: green; "> give points to Person B</b>.
            Person C <u>cannot</u> both give points and remove points, they must choose <u>one</u> action.
        </p>

        <p>
            Person C receives 4 points in Stage 2 and can use these points to remove or give points.
            Points removed by Person C are eliminated.
            For each <b>1 point</b> that Person C removes from Person A, Person C loses <b>0.33 points</b>.
            For each <b>1 point</b> that Person C gives to Person B, Person C loses <b>0.33 points</b>.
        </p>

    {{ endif }}


    {{ if block2 == True and treatment_type == '3PC' }}

        <p style="color: red; text-align: center; "> <b>Now there is one change.</b> </p>

        <p>
            You will know if Person A and Person B <b style="color: red; ">also live in {{current_country}}</b>
            or in <b style="color: red; ">one of {{C.NUM_COUNTRIES}} countries</b>
            around the globe which also participate in this study:</p>

        <p>
            <i>Algeria, Australia, Brazil, Chile, China, Ecuador, Egypt, Estonia, Finland, France, Germany, Greece,
            Hungary, India, Indonesia, Israel, Italy, Japan, Kazakhstan, Kenya, Korea, Malaysia, Mexico, Morocco,
            Nigeria, Norway, Pakistan, Peru, Philippines, Poland, Romania, Russia, Saudi Arabia, Singapore,
            South Africa, Spain, Switzerland, Taiwan, Thailand, Turkey, United Arab Emirates, United States,
            Uruguay, Venezuela, Vietnam </i>
        </p>

        <p>Here is an example:</p>

        <br><br>
        <div class="figure-container">

            <img src="" alt='country flag' class='receiver-flag'>
            <img src="" alt='country flag' class='dictator-flag'>

            <img src="" alt='position of country on a map' class='receiver-map'>
            <img src="" alt='position of country on a map' class='dictator-map'>

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/3PC comp.png">

            <div class="person-a">
                <b>PERSON A</b>
            </div>
            <div class="person-b">
                <b>PERSON B</b>
            </div>
            <div class="person-c">
                <b>PERSON C</b>
            </div>

            <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">
            <img class="plus-button-3PC" src="/static/global/plus_button.png" alt="+">

<!--                <span class='coinstackD-static' ></span>-->
<!--                <div class="coin-count-labelD-static2"-->
<!--                     style="top: 33%; "></div>-->
        </div>

        <p>
            In this example, Person A lives in <b>{{dic_identity_country}}</b>
            and Person B lives in <b>{{recip_identity_country}}</b>.
        </p>

        <p>
            You will not see where Person C lives.
        </p>

        <p>
            <b>Person C</b> is <u>still able</u> to <u>either</u> <b>remove points</b> from Person A
            <u>or</u> <b>give points</b> to Person B.
        </p>

        <hr>

    {{ endif }}


    {{ if block2 == True and treatment_type == '3PP' }}

<!--        <br><br>-->
<!--        <div class="figure-container">-->

<!--            <img src="" style='width:12vw; position:absolute; top: -25%; left:calc(50% + 9vw)' class='dictatorCountry'>-->
<!--            <img src="" style='width:12vw; position:absolute; top: -25%; left:calc(50% - 21vw)' class='receiverCountry'>-->

<!--            <img src="" style='width:10vw; position:absolute; top:3.8vw; left:calc(50% + 13vw)' class='dictatorCountryMap'>-->
<!--            <img src="" style='width:10vw; position:absolute; top:3.8vw; left:calc(50% - 23.5vw)' class='receiverCountryMap'>-->

<!--            <img src="/static/global/treatments/3PP punish.png" style="width:27vw; top:0vw">-->

<!--            <div class="person-a" style="top:29%">-->
<!--                <b>PERSON A</b>-->
<!--            </div>-->
<!--            <div class="person-b" style="top:29%">-->
<!--                <b>PERSON B</b>-->
<!--            </div>-->
<!--            <div class="person-c">-->
<!--                <b>PERSON C</b>-->
<!--            </div>-->

<!--            <img src="/static/global/minus_button2.png" alt="-" style="position: absolute; width: 1.8vw; top: 50%; left:calc(50% - 7vw);">-->

<!--        </div>-->

        <p style="color: red; text-align: center; ">
            <b>Now there is one change.</b>
        </p>

        <p>
            You will know if Person A and Person B <b style="color: red; ">also live in {{current_country}}</b>
            or in <b style="color: red; ">one of {{C.NUM_COUNTRIES}} countries</b>
            around the globe which also participate in this study:</p>

        <p>
            <i>Algeria, Australia, Brazil, Chile, China, Ecuador, Egypt, Estonia, Finland, France, Germany, Greece,
            Hungary, India, Indonesia, Israel, Italy, Japan, Kazakhstan, Kenya, Korea, Malaysia, Mexico, Morocco,
            Nigeria, Norway, Pakistan, Peru, Philippines, Poland, Romania, Russia, Saudi Arabia, Singapore,
            South Africa, Spain, Switzerland, Taiwan, Thailand, Turkey, United Arab Emirates, United States,
            Uruguay, Venezuela, Vietnam </i>
        </p>

        <p>Here is an example:</p>

        <br><br>
        <div class="figure-container">

            <img src="" alt='country flag' class='receiver-flag'>
            <img src="" alt='country flag' class='dictator-flag'>

            <img src="" alt='position of country on a map' class='receiver-map'>
            <img src="" alt='position of country on a map' class='dictator-map'>

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/3PP punish.png">

            <div class="person-a">
                <b>PERSON A</b>
            </div>
            <div class="person-b">
                <b>PERSON B</b>
            </div>
            <div class="person-c">
                <b>PERSON C</b>
            </div>

            <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">

<!--                <span class='coinstackD-static' ></span>-->
<!--                <div class="coin-count-labelD-static2"-->
<!--                     style="top: 33%; "></div>-->
        </div>

        <p>
            In this example, Person A lives in <b>{{dic_identity_country}}</b>
            and Person B lives in <b>{{recip_identity_country}}</b>.
        </p>

        <p>
            You will not see where Person C lives.
        </p>

        <p>
            <b>Person C</b> is <u>still able</u> to <b>remove points</b> from Person A.
        </p>

<!--        <p>-->
<!--            Person C is <u>not</u> able to give points to Person B anymore. Instead, <b>Person C</b> is able to <b style="color: red; ">remove points</b>-->
<!--            from Person A.-->
<!--        </p>-->

    {{ endif }}


    {{ if block3 == True }}

        <p style="color: red; text-align: center; "> <b>Now there is one change.</b> </p>

        <p>You will know <b style="color: red; ">in which specific country</b> Person A and Person B live.</p>

        <p>Here is an example:</p>

        <br><br>
        <div class="figure-container">

            <img src="" alt='country flag' class='receiver-flag'>
            <img src="" alt='country flag' class='dictator-flag'>

            <img src="" alt='position of country on a map' class='receiver-map'>
            <img src="" alt='position of country on a map' class='dictator-map'>

            <img class="scenario_image" alt="figure with characters giving or receiver coins" src="/static/global/treatments/3PP punish.png">

            <div class="person-a">
                <b>PERSON A</b>
            </div>
            <div class="person-b">
                <b>PERSON B</b>
            </div>
            <div class="person-c">
                <b>PERSON C</b>
            </div>

            <img class="minus-button-3PP" src="/static/global/minus_button2.png" alt="-">

        </div>

        <p>
            Person A lives in <b style="color: red; ">{{dic_identity_country}}</b> and
            Person B lives in <b style="color: red; ">{{recip_identity_country}}</b>.
        </p>

        <p> You will not see where Person C lives. </p>

        <p> <b>Person C</b> is <u>still able</u> to <b>remove points</b> from Person A. </p>


    {{ endif }}

    <br>

    <div style="display: flex; justify-content: flex-end">
        <button style="color: #fff;
                       background-color: #007bff;
                       border: 1px solid #007bff;
                       font-size: 1rem;
                       border-radius: 0.25rem;
                       padding: 4px 12px;" type="button" id="submit-button">
            Understood!
        </button>
    </div>

</form>


</body>
</html>

{{ endblock }}
