

    <script>
        // Hide only part of the reminder based on the page title
        if (document.title === "ComprehensionQuestionPage") {
            document.getElementById("conditional-message").style.display = "none";
        }
    </script>


    {% if "2PP" in player.treatment or "3PP" in player.treatment or "3PR" in player.treatment or "3PC" in player.treatment %}

    <br>
    <div class="reminder">

        <p style="text-align: center; ">
            <b>Reminder</b>
        </p>

        {% if page_name == "ComprehensionQuestionPage" %}

            <p>
                There are <strong>two stages</strong>.
            </p>

            <p><b> Stage 1: </b></p>

            <div style="margin-left: 5%;">
                <p>
                    <strong>Person A</strong> receives 12 points.<br>
                    <strong>Person B</strong> receives 0 points.
                </p>
                <p>
                    Person C receives 4 points in Stage 2 and can use these points to give points to Person A.
                    Giving <b>3 points</b> to Person A will cost Person C <b>1 point</b>
                    (cost of giving 1 point: 0.33 points).
                </p>
            </div>

            <p> <b>Stage 2:</b> </p>

        {% endif %}

        {% if "2PP" in player.treatment %}
            <div style="margin-left: 5%;">
                <p>
                    <b>Person B</b> is able to <strong>remove points</strong> from <strong>Person A</strong>.
                </p>
                <p>
                    Person A and Person B both receive 4 points in Stage 2.
                    Only Person B can use these points to remove points from Person A.
                    Removed points are eliminated and cannot be used by anyone.
                    Removing <b>3 points</b> from Person A will cost Person B <b>1 point</b>
                    (cost of removing 1 point = 0.33 points).
                </p>
            </div>
        {% endif %}

        {% if "3PP" in player.treatment %}
            <div style="margin-left: 5%;">
                <p>
                    <b>Person C</b> is able to <b>remove points</b> from <b>Person A</b>.
                </p>
                <p>
                    Person C receives 4 points in Stage 2 and can use these points to remove points.
                    Removed points are eliminated and cannot be used by anyone.
                    Removing <b>3 points</b> from Person A will cost Person C <b>1 point</b>
                    (cost of removing OR giving 1 point: 0.33 points).</p>
            </div>
        {% endif %}

        {% if "3PR" in player.treatment %}
            <div style="margin-left: 5%;">
                <p>
                    <b>Person C</b> is able to <strong>give points</strong> to <strong>Person A</strong>.
                </p>
                <p>
                    Person C receives 4 points in Stage 2 and can use these points to give points to Person A.
                    Only Person C can use these points to give points to Person A.
                    Giving <b>3 points</b> to Person A will cost Person C <b>1 point</b>
                    (cost of giving 1 point = 0.33 points).
                </p>
            </div>
        {% endif %}

        {% if "3PC" in player.treatment %}
            <div style="margin-left: 5%;">
                <p>
                    <b>Person C</b> is able to <b>remove points</b> from <b>Person A <u>OR</u> give points</b> to <b>Person B</b>.
                    Person C <u>cannot</u> both give points and remove points, they must choose <u>one</u> action.
                </p>
                <p>
                    Person C receives 4 points in Stage 2 and can use these points to remove or give points.
                    Removed points are eliminated and cannot be used by anyone.
                    Removing <b>3 points</b> from Person A OR giving <b>3 points</b> to Person B will cost Person C <b>1 point</b>
                    (cost of removing OR giving 1 point = 0.33 points).
                </p>
            </div>
        {% endif %}
        </div>
    {% endif %}
