{{ block title }}

{% if lang == "ar" %}
<html lang="ar" dir="rtl">
{% endif %}

    <p style="text-align: center; font-size: 26px; "> {{ filler_title }} </p>

<div style="display: flex; justify-content: center; margin-bottom: 4px;">
    <label>
        <progress value="{{ participant.progress }}" max="{{ total_pages }}">
        </progress>
    </label>
</div>

{{ endblock }}

{{ block style }}

    <style>

        body {
            text-align: center;
        }

    </style>

{{ endblock }}

{{ block content }}

    {% load static %}
    <link rel="stylesheet" href="{% static 'shared_styles.css' %}">


    <p>
        {{ filler_completed }}
    </p>
    <p>
        {{ filler_next_page }}
    </p>


    <div style="display: flex; justify-content: flex-end">
        <button class="btn btn-primary">{{ button_next }}</button>
    </div>

{{ endblock }}

